@import url('file:///home/hakase/.cache/wal/colors.css'); 

:root {

   /* Minimal Functional Fox variables*/
  --mff-bg: var(--background);
  --mff-icon-color: #e0fbfc;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: var(--foreground);
  --mff-tab-border-radius: 0px;
  --mff-tab-color: var(--foreground);
  --mff-tab-font-family: "Cantarell", sans;
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 32px;
  --mff-tab-pinned-bg: var(--color14);
  --mff-tab-selected-bg: var(--color5);
  --mff-tab-soundplaying-bg: var(--mff-bg);
  --mff-urlbar-color: var(--foreground);
  --mff-urlbar-focused-color: var(--color7);
  --mff-urlbar-font-family: "Cantarell", serif;
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: var(--color5);
  --mff-urlbar-results-font-family: "Cantarell", serif;
  --mff-urlbar-results-font-size: 12pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: var(--color14);
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
}
